<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assignment.clush.calender.mapper.CalendarMapper">
    <select id="getCalendarByNo" resultType="Calendar">
        SELECT
            CALENDAR_NO AS "no"
            , USER_ID AS "userId"
            , TITLE AS "title"
            , CONTENT AS "content"
            , START_DATE AS "startDate"
            , END_DATE AS "endDate"
            , CREATED_DATE AS "createdDate"
            , MODIFIED_DATE AS "modifiedDate"
        FROM
            calendar
        WHERE
            CALENDAR_NO = #{calendarNo}
    </select>

    <select id="countCalendarByNo" resultType="int">
        SELECT COUNT(*)
        FROM calendar
        WHERE CALENDAR_NO = #{calendarNo}
    </select>

    <insert id="insertCalendar">
        <selectKey keyProperty="calendar.no" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO calendar
        (USER_ID, TITLE, CONTENT, START_DATE, END_DATE, CREATED_DATE)
        VALUES
        (#{calendar.userId}, #{calendar.title}, #{calendar.content}, #{calendar.startDate}, #{calendar.endDate}, #{calendar.createdDate})
    </insert>

    <update id="updateCalendar">
        UPDATE calendar
        SET
            TITLE = #{calendar.title}
            , CONTENT = #{calendar.content}
            , START_DATE = #{calendar.startDate}
            , END_DATE = #{calendar.endDate}
            , MODIFIED_DATE = #{calendar.modifiedDate}
        WHERE CALENDAR_NO = #{calendar.no}
    </update>

    <delete id="deleteCalendar">
        DELETE FROM calendar
        WHERE CALENDAR_NO = #{calendarNo}
    </delete>
</mapper>